body
{
  background-color: #F4FAF9;
}
.bg1
{
  background-color: #212B2B;
}
.bg2
{
  background-color: #435E54;
}

h1
{
  font-size: 84px;
}

.nomargin
{
  margin: 0px;
  padding: 0px;
  display: inline;
}

a
{
  color: #435E54;
}

.color1
{
  color: #435E54;
}

.color2
{
  color: #749496;
}

.color3
{
  color: #C7DACE;
}

.centerChild
{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3
{
  text-align: left;
}

.team-block
{
    height: 21em;
}

.team-pic
{
    margin-top: 2em;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #749496;
}
